body, html {
    min-width: 100vw;
    margin: 0;
}

#full-page-flex-wrapper {
    display: flex;
    flex-direction: column;
}

.topmost-container {
    padding: 0 25rem;
    background-color: #1F2937;
    min-height: 25rem;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 4rem;

}

#nav-bar > h1 {
    color: white;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

#navbar-links {
    display: flex;
}

#navbar-links > li {
    list-style: none;
}

#navbar-links > li > a {
    text-decoration: none;
    color: white;
    margin: 0.75rem;
}

.signup-content-and-image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.signup-content-and-image-container > img {
    object-fit: fill;
    height: auto;
    max-width: 450px;  /*TODO: change this and below to rem*/
    max-height: 300px;
}

.signup-content-and-image-container > * {
    max-width: 50%;
    min-width: 50%;
}

.signup-content-container {
    overflow-wrap: break-word;
    padding-right: 5rem;
    max-width: 200px;
}

.signup-content-container > * {
    color: white;
}

.signup-content-container > h2 {
    font-size: 3rem;
    font-weight: bolder;
    word-break: break-word;
    padding-right: 3rem;
    margin-bottom: 0;
}

.signup-content-container > button {
    background-color: #3882F6;
    border: 0;
    border-radius: 0.5625rem;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem 0;
}

.second-container {
    /* background-color: #3882F6; */
    min-height: 25rem;
}

.second-container > h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
    color: #1F2937;
}

.images-and-descriptions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    /* background-color: aqua;  TODO: remove */
}

.image-and-description {
    min-width: 220px;  /*TODO: change this and below to rem*/
    min-height: 260px;
    max-width: 220px;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-and-description > img {
    min-width: 180px;
    min-height: 180px;
    max-width: 180px;
    max-height: 180px;
    border: 2px #3882F6 solid;
}

.third-container {
    background-color: #E5E7EB;
    min-height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container > * {
    color: #1f2937;
}

.quote-container > p {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    min-height: inherit;
    min-width: inherit;
    max-width: 40rem;
}

.quote-container > cite {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    padding-right: 2rem;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}